@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    p {
        color: theme('colors.red.light');
    }
}
@layer base {
  h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 5rem;
  }
  h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
  }

  p {
    font-family: "Roboto Serif", serif;
    font-size: 1rem;
  }
}
